
<h2>Lista de clientes e Respetivos Movimentos</h2>
@using (Html.BeginForm())
{
<table>
    <tr>
        <td>
            @Html.DropDownList("IdDrop", (SelectList)ViewBag.CLIENTES, "Escolha um cliente",
            htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" })
        </td>
    </tr>
</table>}

<table class="table">
    <tr>
        <th>Data </th>
        <th>Descricao</th>
        <th>Valor Credito</th>
        <th>Valor Debito</th>
        <th>Saldo</th>
    </tr>



    @foreach (var item in Model.Movimentos)
    {

        <tr>
            <td>
                @item.DataRegisto
            </td>

            <td>
                @item.Descricao
            </td>

            <td>
                @item.ValorCredito
            </td>

            <td>
                @item.ValorDebito
            </td>

            <td>
                @if (@item.ValorCredito > 0)
                {
                <p>+@item.ValorCredito</p>
                }
                else
                {
                <p>-@item.ValorDebito</p>
                }

            </td>

        </tr>
    }
 

</table>



@*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*@

@*@model ContaCorrente_02.ViewModel.ClienteMovimento


    @{
        ViewBag.Title = "Index";
    }

    <h2>Movimentos</h2>


    @Html.DropDownList("IdDrop", (SelectList)ViewBag.CLIENTES)



    @foreach (var item in Model.Movimentos)
    {
        @item.Descricao
        <label> | </label>
        @item.DataRegisto
        <label> | </label>
        @item.ValorDebito
        <label> | </label>
        @item.ValorCredito

        <br />
    }*@



@*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX*@



@*<br />
    <h3><p>Lista de clientes e Respetivos Movimentos</p></h3>
    <br />
    @model IEnumerable<ContaCorrente_02.Models.Cliente>


    <table class="table">
        <tr>
            <th>
                @Html.DropDownList("idDrop",
        (SelectList)ViewBag.LISTA, "Selecionar Cliente",
        htmlAttributes: new { @class = "form-control", @onchange = "this.form.submit();" })
            </th>

            @foreach (var item in Model)
            {
                @Html.DisplayNameFor(model => model.NomeCliente)

                @Html.DisplayNameFor(model => model.Movimentos)

            }



        </tr>
    </table>*@


